In [1]:
#Bank system
class Account:
    Account_no_generator=20250300
    def __init__(self,name,gender,amount):
        self.name=name
        self.gender=gender
        self.amount=amount
        Account.Account_no_generator+=1
        self.account_no=Account.Account_no_generator
        print("Account created ,your account number is:",self.account_no)

    def get_account_no(self):
        return self.account_no

    def check_balance(self):
        print("Account details")
        print("----------------------------")
        print("Account no:",self.account_no)
        print("Account Name:",self.name)
        print("Account Balance:",self.amount);

    def deposit(self,amount_given):
        if amount_given<=0:
            print("Amount can not be zero or Negative")
        else:
            self.amount+=amount_given
            self.check_balance()

    def withdraw(self,amount_given):
        if self.amount-amount_given<=5000:
            print("insufficient funds...")
        else:
            self.amount-=amount_given
            self.check_balance()

def create(bank):
     name=input("Enter Name:")
     gender=input("Enter Gender:")
     while True:
            amt=float(input("Enter amount to open account(min 5000):"))
            if amt>=5000:
                a=Account(name,gender,amt)
                bank[a.get_account_no()]=a
            break

def withdraw(bank):
    acc_no=int(input("Enter account no:"))
    if acc_no in bank:
        print("Account found:")
        bank[acc_no].check_balance()
        amt=float(input("Enter amount to withdraw:"))
        bank[acc_no].withdraw(amt)
    else:
        print(acc_no,"not found...")

def deposit(bank):
    acc_no=int(input("Enter account no:"))
    if acc_no in bank:
        print("Account found:")
        bank[acc_no].check_balance()
        amt=float(input("Enter amount to deposit:"))
        bank[acc_no].deposit(amt)
    else:
        print(acc_no,"not found...")

def check_balance(bank):
    acc_no=int(input("Enter account no:"))
    if acc_no in bank:
        print("Account found:")
        bank[acc_no].check_balance()
        amt=float(input("Enter amount to deposit:"))
        bank[acc_no].deposit(amt)
    else:
        print(acc_no,"not found...")

def transfer(bank):
  from_acc_no=int(input('from enter acc no'))
  to_acc_no=int(input('to enter acc no'))
  amount=int(input('enter amount:'))

  if from_acc_no in bank and to_acc_no in bank:
    if bank[from_acc_no].amount-amount>=5000:
      bank[from_acc_no].amount-=amount
      bank[to_acc_no].amount+=amount
      print('amont transfered successfully')
      print('your updated balance',bank[from_acc_no].amount)
    else:
      print('insufficient funds')

  else:
    print('invalid acc no')


bank={}
while True:
    print("----------------")
    print("---Lakshmi BANK----")
    print("----------------")
    print("1.Create Account")
    print("2.Withdraw")
    print("3.Deposit")
    print("4.Check Balance")
    print('5.transfer fund')
    print("0.Exit")
    ch=int(input("Choice:"))
    if ch==1:
        create(bank)
    elif ch==2:
        withdraw(bank)
    elif ch==3:
        deposit(bank)
    elif ch==4:
       check_balance(bank)

    elif ch==5:
      transfer(bank)

    elif ch==0:
        print("Thanks for using Lakshmi bank")
        break
    else:
        print("Wrong choice...")

----------------
---Lakshmi BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
5.transfer fund====
0.Exit

Choice: 1
Enter Name: abc
Enter Gender: m
Enter amount to open account(min 5000): 50001

Account created ,your account number is: 20250301
----------------
---Lakshmi BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
5.transfer fund====
0.Exit

Choice: 1
Enter Name: xyz
Enter Gender: f
Enter amount to open account(min 5000): 100

----------------
---Lakshmi BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
5.transfer fund====
0.Exit

Choice: 1
Enter Name: xyz
Enter Gender: f
Enter amount to open account(min 5000): 1200000

Account created ,your account number is: 20250302
----------------
---Lakshmi BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
5.transfer fund====
0.Exit

Choice: 2
Enter account no: 20250302

Account found:
Account details
----------------------------
Account no: 20250302
Account Name: xyz
Account Balance: 1200000.0

Enter amount to withdraw: 100000

Account details
----------------------------
Account no: 20250302
Account Name: xyz
Account Balance: 1100000.0
----------------
---Lakshmi BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
5.transfer fund====
0.Exit

Choice: 3
Enter account no: 20250301

Account found:
Account details
----------------------------
Account no: 20250301
Account Name: abc
Account Balance: 50001.0

Enter amount to deposit: 150000

Account details
----------------------------
Account no: 20250301
Account Name: abc
Account Balance: 200001.0
----------------
---Lakshmi BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
5.transfer fund====
0.Exit

Choice: 4
Enter account no: 20250301

Account found:
Account details
----------------------------
Account no: 20250301
Account Name: abc
Account Balance: 200001.0

Enter amount to deposit: 1500

Account details
----------------------------
Account no: 20250301
Account Name: abc
Account Balance: 201501.0
----------------
---Lakshmi BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
5.transfer fund====
0.Exit

Choice: 5
from enter acc no 20250301
to enter acc no 20250302
enter amount: 150000

amont transfered successfully
your updated balance 51501.0
----------------
---Lakshmi BANK----
----------------
1.Create Account
2.Withdraw
3.Deposit
4.Check Balance
5.transfer fund====
0.Exit

Choice: 0

Thanks for using Lena bank

In [9]:
"""Create a class named 'Student' with a string variable 'name' and an
integer variable 'roll_no'. Assign the value of roll_no as '2' and that of name
as "John" by creating an object of the class Student.
"""

class Student:
    def __init__(self, name="unnamed", roll_no="not given"):
        self.name = name
        self.roll_no = roll_no

student1 = Student("Sam", 5)

print("Student Name:", student1.name)
print("Student Roll No:", student1.roll_no)

Student Name: Sam
Student Roll No: 5

In [10]:
"""
Assign and print the roll
number, phone number and address of two students having names "Sam"
and "John" respectively by creating two objects of the class
'Student'.
"""

class Student:
    def __init__(self, name="Unnamed", roll_no="not given", phone="nothing to show", address="not given"):
        self.name = name
        self.roll_no = roll_no
        self.phone = phone
        self.address = address

    def print_details(self):
        print(f"Student Name: {self.name}")
        print(f"Roll Number: {self.roll_no}")
        print(f"Phone Number: {self.phone}")
        print(f"Address: {self.address}")
        print("----------------------------")

student1 = Student("Rahul", 1, "9452637582", "123 main street, mumbai")
student2 = Student("Bhaumik", 2, "7485236492", "456 new street, mumbai")

student1.print_details()
student2.print_details()

Student Name: Rahul
Roll Number: 1
Phone Number: 9452637582
Address: 123 main street, mumbai
----------------------------
Student Name: Bhaumik
Roll Number: 2
Phone Number: 7485236492
Address: 456 new street, mumbai
----------------------------

In [16]:
"""
Write a program to print the
area and perimeter of a triangle having sides of 3, 4 and 5 units by creating a
class named 'Triangle' with a function to print the area and perimeter."""

import math

class Triangle:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c

    def perimeter(self):
        return self.a + self.b + self.c

    def area(self):
        s = (self.a + self.b + self.c) / 2 
        area = math.sqrt(s * (s - self.a) * (s - self.b) * (s - self.c))
        return area

    def details(self):
        print(f"Sides of the triangle: {self.a}, {self.b}, {self.c}")
        print(f"Perimeter: {self.perimeter()}")
        print(f"Area: {self.area()}")

t = Triangle(3, 4, 5)

t.details()

Sides of the triangle: 3, 4, 5
Perimeter: 12
Area: 6.0

In [20]:
"""
Write a program to print the
area of two rectangles having sides (4,5) and (5,8) respectively by creating a
class named 'Rectangle' with a function named 'Area' which returns the area.
Length and breadth are passed as parameters to its constructor."""

class Rectangle:
    def __init__(self, l, b):
        self.l = l
        self.b = b

    def area(self):
        return self.l * self.b

rect1 = Rectangle(4, 5)
rect2 = Rectangle(5, 8)

print("Area of Rectangle 1:", rect1.area())
print("Area of Rectangle 2:", rect2.area())

Area of Rectangle 1: 20
Area of Rectangle 2: 40

In [22]:
"""
Write a program to print the
area of a rectangle by creating a class named 'Area' having two functions.
First function named as 'setDim' takes the length and breadth of the rectangle
as parameters and the second function named as 'getArea' returns the area of
the rectangle. Length and breadth of the rectangle are entered through
keyboard.
"""

class Area:
    def value(self, l, b):
        self.l = l
        self.b = b

    def sol(self):
        return self.l * self.b

r = Area()

l = float(input("Enter the length of the rectangle: "))
b = float(input("Enter the breadth of the rectangle: "))

r.value(l, b)

print("Area of the rectangle:", r.sol())

Enter the length of the rectangle:  5
Enter the breadth of the rectangle:  2

Area of the rectangle: 10.0

In [24]:
"""

Print the average of three
numbers entered by the user by creating a class named 'Average' having a
function to calculate and print the average without creating any object of the
Average class."""

class Average:
    def marks(num1, num2, num3):
        avg = (num1 + num2 + num3) / 3
        print(f"The average of {num1}, {num2}, and {num3} is: {avg}")

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

Average.marks(num1, num2, num3)

Enter the first number:  70
Enter the second number:  61
Enter the third number:  55

The average of 70.0, 61.0, and 55.0 is: 62.0

In [25]:
"""
Print the sum, difference
and product of two complex numbers by creating a class named 'Complex' with
separate functions for each operation whose real and imaginary parts are
entered by the user."""

"\nPrint the sum, difference\nand product of two complex numbers by creating a class named 'Complex' with\nseparate functions for each operation whose real and imaginary parts are\nentered by the user."

In [26]:
"""
Write a program to print the
volume of a box by creating a class named 'Volume' with an initialization list
to initialize its length, breadth and height. (just to make you familiar with
initialization lists)"""

class Volume:
    def __init__(self, l, b, h):
        self.l = l
        self.b = b
        self.h = h

    def sol(self):
        return self.l * self.b * self.h

l = float(input("Enter the length of the box: "))
b = float(input("Enter the breadth of the box: "))
h = float(input("Enter the height of the box: "))

box = Volume(l, b, h)

print(f"The volume of the box is: {box.sol()}")

Enter the length of the box:  5
Enter the breadth of the box:  6
Enter the height of the box:  8

The volume of the box is: 240.0

In [27]:
"""

Write a program that would
print the information (name, year of joining, salary, address) of three
employees by creating a class named 'Employee'. The output should be as
follows:

Name        Year of
joining        Address

Robert        1994        64C-
WallsStreat

Sam        2000        68D-
WallsStreat

John        1999        26B-
WallsStreat

"""

class Employee:
    def __init__(self, name="unamed", year="not given", address="empty"):
        self.name = name
        self.year = year
        self.address = address
    
    def display(self):
        print(f"{self.name:<12} {self.year:<15} {self.address}")

a = Employee("Piyush", 2002, "Nagpur")
b = Employee("Sahil", 2000, "Pune")
c = Employee("Vinit", 1999, "Mumbai")

print(f"{'Name':<12} {'Year of Joining':<15} {'Address'}")
print("-" * 40)

a.display()
b.display()
c.display()

Name         Year of Joining Address
----------------------------------------
Piyush       2002            Nagpur
Sahil        2000            Pune
Vinit        1999            Mumbai

In [32]:
"""
Write a program to print the
roll number and average marks of 8 students in three subjects (each out of
100). The marks are entered by the user and the roll numbers are automatically
assigned."""

class Student:
    def __init__(self, roll_no, m1, m2, m3):
        self.roll_no = roll_no
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3

    def average_marks(self):
        return (self.m1 + self.m2 + self.m3) / 3

s = []

for i in range(8):
    m1 = float(input(f"Enter marks of subject 1 {i+1}: "))
    m2 = float(input(f"Enter marks of subject 2 {i+1}: "))
    m3 = float(input(f"Enter marks of subject 3  {i+1}: "))
    
    roll_no = i + 1
    
    st = Student(roll_no, m1, m2, m3)
    s.append(st)

print("\nStudent Information:")
print(f"{'Roll No':<10} {'Average Marks'}")
print("-" * 30)

for student in s:
    print(f"{student.roll_no:<5} {student.average_marks():}")

Enter marks of subject 1 1:  5
Enter marks of subject 2 1:  2
Enter marks of subject 3  1:  1
Enter marks of subject 1 2:  2
Enter marks of subject 2 2:  6
Enter marks of subject 3  2:  4
Enter marks of subject 1 3:  5
Enter marks of subject 2 3:  6
Enter marks of subject 3  3:  1
Enter marks of subject 1 4:  2
Enter marks of subject 2 4:  3
Enter marks of subject 3  4:  4
Enter marks of subject 1 5:  2
Enter marks of subject 2 5:  3
Enter marks of subject 3  5:  5
Enter marks of subject 1 6:  6
Enter marks of subject 2 6:  2
Enter marks of subject 3  6:  1
Enter marks of subject 1 7:  3
Enter marks of subject 2 7:  5
Enter marks of subject 3  7:  1
Enter marks of subject 1 8:  3
Enter marks of subject 2 8:  2
Enter marks of subject 3  8:  5

Student Information:
Roll No    Average Marks
------------------------------
1     2.6666666666666665
2     4.0
3     4.0
4     3.0
5     3.3333333333333335
6     3.0
7     3.0
8     3.3333333333333335

In [34]:
"""
Write a program to calculate
the average height of all the students of a class. The number of students and
their heights are entered by the user."""

def cal():
    num = int(input("Enter the number of students: "))
    
    total = 0

    for i in range(num):
        h = float(input(f"Enter the height {i+1} (in meters): "))
        total += h

    avg = total / num
    print(f"\nThe average height of the class is: {avg:} meters")

cal()

Enter the number of students:  50
Enter the height 1 (in meters):  80
Enter the height 2 (in meters):  40
Enter the height 3 (in meters):  60
Enter the height 4 (in meters):  50
Enter the height 5 (in meters):  43
Enter the height 6 (in meters):  55
Enter the height 7 (in meters):  22
Enter the height 8 (in meters):  88
Enter the height 9 (in meters):  40
Enter the height 10 (in meters):  30
Enter the height 11 (in meters):  40
Enter the height 12 (in meters):  60
Enter the height 13 (in meters):  47
Enter the height 14 (in meters):  0
Enter the height 15 (in meters):  .

ValueError: could not convert string to float: '.'

In [35]:
"""
Write a program to create a
directory that contains the following information.

(a) Name of a person

(b) Address

(c) Telephone Number (if available with STD code)

(d) Mobile Number (if available)

(e) Head of the family
"""

'\nWrite a program to create a\ndirectory that contains the following information.\n\n(a) Name of a person\n\n(b) Address\n\n(c) Telephone Number (if available with STD code)\n\n(d) Mobile Number (if available)\n\n(e) Head of the family\n'